body{
    margin-top:68px;
    margin-bottom:80px;
    overflow-x:hidden;
}

#side-bar{
    position:fixed;
    height:100%;
    width:80px;
    top:68px;
    left:0px;
    background: #3e3f3a;
    text-align: center;
}

#linker{
    color:blue;
}

a{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
    background-color: #2C384E;
    color: white;
}

a.active {
    background-color: #2C384E;
    color: white;
}

#header-banner{
    width:100%;
    height:74px;
    color:white;
    background: #404c64;
    font-size:24px;
    text-align:center;
}

#test_block{
    width:100%;
    height:100px;
    background:#314D67;
    font-size:24px;
    text-align:center;
    color:white;
}

.text-shadow{
    text-shadow: -1px 0px 6px #000000;
}

.row-content{
    background:white;
    display:inline-block;
    vertical-align:bottom;
    height:170px;
    border:4px solid #555;
    overflow-y:scroll;
    width:30.5%;
    margin-top:1%;
    margin-bottom:2%;
    margin-left:2%;
}

.row-content:hover{

}

.row-3-content{
    height:170px;
    width:30.5%;
}

.row-3-content-inside-row-1{
    width:30.5%;
}

.row-1-content{
    height:450px;
    width:96%;
}

.row-1-content-shorter{
    border:none;
    height:auto;
    overflow-x:hidden;
    overflow-y:hidden;
    width:96%;
}

.row-2-content{
    height:170px;
    width:46.8%;
}

.row-2-content-tall{
    height:auto;
    width:46.8%;
}

#product_container{
    background-color: #b6eeff;
    width: 100%;
    marign: 0 auto;
    text-align: center;
}

.tab{
    height: 40px;
    width: 150px;
    background-color: #3fc1ff;
    display: block;
    line-height: 40px;
    color: white;
}

#dashboard_div {
    height: 1000px;
}
.tab:hover{
    background-color: #007aff;
}

.add_product{
    background: url(/Admin_Panel/static/images/add.png);
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}

.remove_product{
    background: url(/Admin_Panel/static/images/remove.png);
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}


.edit_product{
    background: url(/Admin_Panel/static/images/edit.png);
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
}

#product_container table tr td{
    border: 2px solid #ffffff;
    padding: 5px;
}

#product_container table tr:hover{
    background-color: #3fc1ff;
}

#product_container table tr th{
    background: #2ecc71;
    color: #ffffff;
    text-align: center;
}

#product_container table{
    width: 100%;
}

.supplier-nav{
    margin-top: 2%;
    margin-left: 40%;
}

.supplier-table{
    table-layout:fixed;
    margin:0 auto;
    text-align:center;
    width:100%;
    height:auto;
}

.supplier-td{
    text-align:center;
}

.report-tab{
    display:inline-block;
    width:25%;
    height:40px;
    text-align:center;
    font-size:22px;
    color:white;
    line-height:40px;
}

.report-tab:hover{
    background:purple;
}

#report-tab1{
    background: #112294;
}

#report-tab1:hover{
    background: #2f854d;
    cursor:pointer;
}

#report-tab2{
    background: #5aff94;
}

#report-tab2:hover{
    background: #2f854d;
    cursor:pointer;
}

#report-tab3{
    background: #5aff94;
}

#report-tab3:hover{
    background: #2f854d;
    cursor:pointer;
}

#report-tab4{
    background: #5aff94;
}

#report-tab4:hover{
    background: #2f854d;
    cursor:pointer;
}

#report-chart1{
    display:inline;
    width:100%;
}

#report-chart2{
    display:none;
    width:100%;
}

#report-chart3{
    display:none;
    width:100%;
}

#report-chart4{
    display:none;
    width:100%;
}

#container1{
    width:100%;
}

.form-input{
    padding:5px;
    margin-bottom:5px;
}

