<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{=response.title or URL()}}</title>
        {{
        response.files.append(URL('static','css/bootstrap.min.css'))
        response.files.append(URL('static','css/bootstrap_essentials.css'))
        response.files.append(URL('static','css/bootstrap-responsive.min.css'))
        }}
        {{include 'web2py_ajax.html'}}
    </head>

    <body class="{{=T('direction: ltr') == 'direction: rtl' and 'RTLbody' or ''}} {{block sectionclass}}home{{end}}">

   <div class="form">
  <form action="{{=URL(r=request)}}" method="post">
    <div><input type="hidden" name="send" value="{{=send}}"/></div>
    <table>
        <h1>Online-Retail-Admin</h1>
        <br>
        <br>
      <tr><td>{{=T('Administrator Password:')}}</td><td><input type="password" name="password" id="password"/></td></tr>
      <tr><td></td><td><button name="login">{{=T('Login')}}</button></td></tr>
    </table>
    <input type="hidden" name="is_mobile" value="true"/>
  </form>
</div>

    </body>
</html>
