{{extend 'layout.html'}}

<div id='side-bar'>
    <a class='pad5 display-block text-shadow' href='index'><i class="fa fa-money fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-gear fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-pie-chart fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-certificate fa-3x" aria-hidden="true"></i></a>
</div>
<div style="width:100%; height:100px; background:#314D67; font-size:24px; text-align:center; color:white;">Report Page</div>

<script src="{{=URL("static", "js", args="highcharts.js")}}" type="text/javascript"></script>

<div id="container"></div>
{{=chart}}
