{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div id='side-bar'>
    <a class='pad5 display-block text-shadow' href='index'><i class="fa fa-money fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-gear fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-pie-chart fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-certificate fa-3x" aria-hidden="true"></i></a>
</div>

<div id="image_contianer">
    <table border="0">
        {{for item in images:}}
        <tr id="product_id_">
            <td><input type="button" onclick="image_opener({{=item['product_id']}})" class="button_save" value="Manage Images"></td>
            <td>{{=item['title']}}</td>
        </tr>
        <tr>
            <td colspan="2" id="img_place_{{=item['product_id']}}"></td>
        </tr>
        {{pass}}
    </table>
</div>