{{extend 'layout.html'}}

<!-- =====Row 1===== -->

<br>
<div id="index-r1-lb" class="row-3-content row-content">
    {{=user_data}}

    {{pass}}
</div>

<div id="index-r1-mb" class="row-3-content row-content">
    hello
</div>

<div id="index-r1-rb" class="row-3-content row-content">
    hello
</div>

<!-- =====Row 2===== -->

<div id="index-r2-lb" class="row-3-content row-content">
    hello
</div>

<div id="index-r2-mb" class="row-3-content row-content">
    hello
</div>

<div id="index-r2-rb" class="row-3-content row-content">
    hello
</div>

<!-- =====Row 3===== -->

<div id="index-r3" class="row-1-content row-content">
    hello
</div>

<!-- =====Row 4===== -->

<div id="index-r4-lb" class="row-2-content row-content">
    hello
</div>

<div id="index-r4-rb" class="row-2-content row-content">
    hello
</div>