{{extend 'layout.html'}}

<div id="normalize_container">
    <div id="steps">Step 1: Choose supplier</div>
    <select id="supplier_list">
        <option value=""></option>
        {{for item in suppliers:}}
        <option value="{{=item['supplier_id']}}">{{=item['supplier_name']}}</option>
        {{pass}}
    </select>


    <table id="supplier_table" border="0" style="display: none;">
    <tr><td><div id="steps">Step 2: Match supplier fields</div></td></tr>
    </table>

    <input type="button" id="normalize_btn" value="Normalize" style="display: none;">
</div>


