{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div id='side-bar'>
    <a class='pad5 display-block text-shadow' href='index'><i class="fa fa-money fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-gear fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-pie-chart fa-3x" aria-hidden="true"></i></a>
    <a class='pad5 display-block text-shadow' href='stats'><i class="fa fa-certificate fa-3x" aria-hidden="true"></i></a>
</div>

<div id="product_container">
    <div class="tab">View Supplier product</div>
    <table>
        <tr>
            <th colspan="2"></th>
            <th>Title</th>
            <th>Price</th>
            <th>Size Name</th>
            <th>Color Name</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Create Date</th>
            <th>Cost</th>
            <th>Supplier SKU</th>
            <th>Supplier Name</th>
        </tr>
    {{for item in test:}}
        <tr id={{=item['supplier_association_id']}}>
            <td><span onclick="product_add({{=item['supplier_association_id']}})" class="add_product"></span></td>
            <td><span onclick="product_edit({{=item['supplier_association_id']}})" class="edit_product"></span></td>
            <td id=title_{{=item['supplier_association_id']}}>{{=item['title']}}</td>
            <td id=price_{{=item['supplier_association_id']}} >{{=item['price']}}</td>
            <td id=size_{{=item['supplier_association_id']}}>{{=item['size_name']}}</td>
            <td id=color_{{=item['supplier_association_id']}}>{{=item['color_name']}}</td>
            <td id=desc_{{=item['supplier_association_id']}}>{{=item['description']}}</td>
            <td id=manufacturer_{{=item['supplier_association_id']}}>{{=item['manufacturer']}}</td>
            <td id=create_date_{{=item['supplier_association_id']}}>{{=item['create_date']}}</td>
            <td id=cost_{{=item['supplier_association_id']}}>{{=item['cost']}}</td>
            <td id=supplier_sku_{{=item['supplier_association_id']}}>{{=item['supplier_sku']}}</td>
            <td id=supplier_name_{{=item['supplier_association_id']}}>{{=item['supplier_name']}}</td>
        </tr>
    {{pass}}
        </table>
</div>