{{extend 'layout.html'}}
<script src="{{=URL("static", "js", args="highcharts.js")}}" type="text/javascript"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div style="width:100%; height:40px; background:#314D67; font-size:24px; text-align:center; color:white;">Report Page</div>
<div id="report-tab1" class="report-tab" onclick="set_stat_tab('1')">Profit Over Time</div><div id="report-tab2" class="report-tab" onclick="set_stat_tab('2')">Top Products</div><div id="report-tab3" class="report-tab" onclick="set_stat_tab('3')">Top Suppliers</div><div id="report-tab4" class="report-tab" onclick="set_stat_tab('4')">Amount By Supplier</div>

<div id="report-chart1">
    <div class="text-center" style="font-size:24px;">Profit Over Time</div>
    <br>
    Select Time Span
    <select>
        <option name="WEEK" value="Week">Week</option>
        <option name="MONTH" value="Month">Month</option>
        <option name="QUARTER" value="Quarter">Quarter</option>
    </select>
    How far back?
    <input type="number" max="10" min="1" value="1"/>

    <div id="container1"></div>
    {{=chart1}}
</div>

<div id="report-chart2">
    <div class="text-center" style="font-size:24px;"></div>
    <div id="filter_div"style="margin-left: 600px; margin-top: 30px; "></div>
        <div id="chart_div" style="margin-left: 500px; margin-top: 0px; overflow: hidden;"></div>
<div id="dashboard_div"  style="margin-bottom: -50px;">

        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart', 'controls']});
          google.charts.setOnLoadCallback(drawDashboard);

          function drawDashboard() {
            var data = google.visualization.arrayToDataTable({{=gtpp}});
            var dashboard = new google.visualization.Dashboard(
                document.getElementById('dashboard_div')
            );

            var donutRangeSlider = new google.visualization.ControlWrapper({
              'controlType': 'NumberRangeFilter',
              'containerId': 'filter_div',
              'options': {
                'filterColumnLabel': 'Top Products',
                  'height': 600,
                  'width': 600,
                  'marging-top': 300,
                  'legend': 'middle'
              }
            });

            var pieChart = new google.visualization.ChartWrapper({
              'chartType': 'PieChart',
              'containerId': 'chart_div',
              'options': {
                  'width': 900,
            'height': 600,

                  'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},

                  'pieSliceTextStyle': {
            color: 'black',
            fontSize: 16,
                      position: {'left':5, 'top':5, 'bottom':10}
        },
                  'is3D':true,

              }
            });
            dashboard.bind(donutRangeSlider, pieChart);
            dashboard.draw(data);
          }
        </script>
    </div>
</div>

<div id="report-chart3">

    <div id="filter_div1"style="margin-left: 700px; margin-top: 30px;"></div>
        <div id="chart_div1" style="margin-left: 600px; margin-top: 0px;"></div>
<div id="dashboard_div1"  style="margin-bottom: -50px;">

        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart', 'controls']});
          google.charts.setOnLoadCallback(drawDashboard1);

          function drawDashboard1() {
            var data1 = google.visualization.arrayToDataTable({{=stpp}});
            var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div1'));

            var donutRangeSlider = new google.visualization.ControlWrapper({
              'controlType': 'NumberRangeFilter',
              'containerId': 'filter_div1',
              'options': {
                'filterColumnLabel': 'Top Suppliers',
                'height': 600,
                  'width': 600,
                  'marging-top': 300,
                  'legend': 'middle'
              }
            });

            var pieChart = new google.visualization.ChartWrapper({
              'chartType': 'PieChart',
              'containerId': 'chart_div1',
                'options': {
                  'width': 900,
            'height': 600,

                  'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},

                  'pieSliceTextStyle': {
            color: 'black',
            fontSize: 16,
                      position: {'left':5, 'top':5, 'bottom':10}
        },
                  'is3D':true,

              }
            });
            dashboard.bind(donutRangeSlider, pieChart);
            dashboard.draw(data1);
          }
        </script>
    </div>
</div>

<div id="report-chart4">
    <div class="text-center" style="font-size:24px;">Profit Over Time</div>
    <br>
    Select Time Span
    <select>
        <option name="WEEK" value="Week">Week</option>
        <option name="MONTH" value="Month">Month</option>
        <option name="QUARTER" value="Quarter">Quarter</option>
    </select>
    How far back?
    <input type="number" max="10" min="1" value="1"/>

    <div id="container2"></div>
    {{=chart2}}
</div>

