{{extend 'layout.html'}}
<div id="supplier_container"  style=" background-color: #3fc1ff; margin-bottom: 0px;">

<br>
<!-- =====Row 1===== -->
<div class="tab" style="margin-left: 30px; background-color: #0077aa; line-height: 40px;" >
   Active Suppliers
</div>

<div class="row-1-content-shorter row-content"  style="background-color: #b6eeff;">
    <!-- get suppliers from database -->
    <div  style="height:auto;">
        {{for supplier in suppliers:}}
            <table border="0" class="supplier-table">

                <div class="supplier">
                    {{if supplier['status'] == 'active':}}
                        <tr>
                            <td style='width:14%;' class="supplier-td">{{=supplier['supplier_name']}}</td>
                            <td style='width:30%;' class="supplier-td">{{=supplier['contact_email']}}</td>
                            <td class="supplier-td">{{=supplier['status']}}</td>
                            <td class="supplier-td">{{=supplier['contact_first']}}</td>
                            <td class="supplier-td">{{=supplier['contact_last']}}</td>
                            <td class="supplier-td">{{=supplier['contact_phone']}}</td>
                            <td class="supplier-td"><button style="display:inline-block; line-height:49px; vetical-align:top; padding:0; width:35px; height:35px;  background:none; color:black; font-size:14px;" onclick="show_supplier_edit_form({{=supplier['supplier_id']}})"><i class="fa fa fa-pencil-square-o fa-2x"></i></button></td>
                            <td class="supplier-td">{{=A('Delete', _href=URL('default', 'supplier', args=['delete'], vars={'id':supplier['supplier_id']}), _class='btn btn-danger border-radius5')}}</td>
                        </tr>
                        <div id="edit_supplier_{{=supplier['supplier_id']}}">
                            <form enctype="multipart/form-data" action="{{=URL('default', 'supplier', args=['edit'])}}" method="post">
                                <input type="hidden" name="supplier_id" value="{{=supplier['supplier_id']}}"/>
                                <input name="supplier_name" type="text" value="{{=supplier['supplier_name']}}"/>
                                <input name="contact_first" type="text" value="{{=supplier['contact_first']}}"/>
                                <input name="contact_last" type="text" value="{{=supplier['contact_last']}}"/>
                                <input name="contact_phone" type="text" value="{{=supplier['contact_phone']}}"/>
                                <input name="contact_email" type="text" value="{{=supplier['contact_email']}}"/>
                                <input name="status" type="text" value="{{=supplier['status']}}">
                                <input style="background-color: #00c4ff;" type="submit" value="submit" >
                            </form>
                            <button   style="background-color: #00c4ff;" onclick="hide_supplier_edit_form({{=supplier['supplier_id']}})">Cancel</button>
                        </div>
                        <script>
                            console.log("#edit_supplier_{{=supplier['supplier_id']}}");
                            $("#edit_supplier_{{=supplier['supplier_id']}}").hide();
                        </script>
                    {{pass}}
                </div>
            </table>
        {{pass}}
    </div>
</div>

<div class="tab" style="margin-left: 30px; background-color: #0077aa; width: 170px;">
    Inactive Suppliers
</div>

<div class="row-1-content-shorter row-content"  style="background-color: #b6eeff;">
     <div  style="height:auto;">
        {{for supplier in suppliers:}}
            <table border="0" class="supplier-table">
                <div class="supplier">
                    {{if supplier['status'] == 'disabled':}}
                        <tr>
                            <td style='width:14%;' class="supplier-td">{{=supplier['supplier_name']}}</td>
                            <td style='width:30%;' class="supplier-td">{{=supplier['contact_email']}}</td>
                            <td class="supplier-td">{{=supplier['status']}}</td>
                            <td class="supplier-td">{{=supplier['contact_first']}}</td>
                            <td class="supplier-td">{{=supplier['contact_last']}}</td>
                            <td class="supplier-td">{{=supplier['contact_phone']}}</td>
                            <td class="supplier-td"><button style="display:inline-block; line-height:49px; vetical-align:top; padding:0; width:35px; height:35px;  background:none; color:black; font-size:14px;" onclick="show_supplier_edit_form({{=supplier['supplier_id']}})"><i class="fa fa fa-pencil-square-o fa-2x"></i></button></td>
                            <td class="supplier-td">{{=A('Delete', _href=URL('default', 'supplier', args=['delete'], vars={'id':supplier['supplier_id']}), _class='btn btn-danger border-radius5')}}</td>
                        </tr>
                        <div id="edit_supplier_{{=supplier['supplier_id']}}">
                            <form enctype="multipart/form-data" action="{{=URL('default', 'supplier', args=['edit'])}}" method="post">
                                <input type="hidden" name="supplier_id" value="{{=supplier['supplier_id']}}"/>
                                <input name="supplier_name" type="text" value="{{=supplier['supplier_name']}}"/>
                                <input name="contact_first" type="text" value="{{=supplier['contact_first']}}"/>
                                <input name="contact_last" type="text" value="{{=supplier['contact_last']}}"/>
                                <input name="contact_phone" type="text" value="{{=supplier['contact_phone']}}"/>
                                <input name="contact_email" type="text" value="{{=supplier['contact_email']}}"/>
                                <input name="status" type="text" value="{{=supplier['status']}}">
                                <input style="background-color: #00c4ff;" type="submit" value="submit" >
                            </form>
                            <button  style="background-color: #00c4ff;" onclick="hide_supplier_edit_form({{=supplier['supplier_id']}})">Cancel</button>
                        </div>
                        <script>
                            console.log("#edit_supplier_{{=supplier['supplier_id']}}");
                            $("#edit_supplier_{{=supplier['supplier_id']}}").hide();
                        </script>
                    {{pass}}
                </div>
            </table>
        {{pass}}
    </div>
</div>


        <div style="margin-left: 700px;" >

        <div   class="tab" style=" margin-left: -50px; background-color: #0077aa; width: 170px;" >Add New Supplier</div>
            <br>
            <div id="submit_supplier" style="margin-left: -50px;"  >
                <form style="... "  enctype="multipart/form-data" action="{{=URL('default', 'supplier', args=['add'])}}" method="post">
                    <input class="form-input" name="supplier_name" type="text" placeholder="Supplier Name">
                    <input class="form-input" name="contact_first" type="text" placeholder="Contact First Name">
                    <input class="form-input" name="contact_last" type="text" placeholder="Contact Last Name">
                    <br>
                    <input class="form-input" name="contact_phone" type="text" placeholder="Contact Phone Number">
                    <input class="form-input" name="contact_email" type="text" placeholder="Contact Email">
                    <input class="form-input" name="status" type="text" placeholder="Status">
                    <br>
                    <input class="button" value="submit" class="button"  style="background-color:  #0077aa;" type="submit">

                </form>
    <br>
                <button class="button" style="display:inline-block; background-color:  #0077aa;" onclick="hide_supplier_form()">Cancel</button>
            </div>
            <button id="supplier_add_button" style="background-color: #0077aa; margin-bottom: 10px;" onclick="show_supplier_form()">Add</button>
        </div>
        </div>