

<form action="{{=URL(r=request)}}" method="post">
    <div class="post_list" style="margin-left: 500px; margin-top: 250px;">
		<label for="password">{{=T('Online-Retail-Administration')}}</label>  <br><br>

        {{=T('User Email:')}}
        <input type="password" name="email" id="password"/><br>
        {{=T('Passsword:')}}
		<input type="password" name="password" id="password"/>

		<div class="controls"><button type="submit" name="login" class="btn"><a class="btn-block"
      href="{{=URL('welcome','default','user')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T('Login')}}
    </a></button></div>
        </div>
</form>